.validation-errors {
  margin: 0;
  padding-left: 16px;
  display: flex;
  flex-direction: column;

  li {
    margin-top: 0;
    color: var(--danger-color);
    font-size: var(--smaller-font-size);
    text-align: left;
  }
}
