<app-spinner-overlay [show]="loading$ | async"></app-spinner-overlay>

@defer (when successMessage$ | async) {
<ng-container *ngIf="successMessage$ | async as success">
  <app-alert
    type="success"
    [message]="success"
    [autoCloseTime]="3000"
  ></app-alert>
</ng-container>
} @defer (when errorMessage$ | async) {
<ng-container *ngIf="errorMessage$ | async as error">
  <app-alert type="error" [message]="error" [dismissible]="true"></app-alert>
</ng-container>
}

<app-form-product (formSubmit)="handleFormSubmit($event)"></app-form-product>
