<!-- <app-spinner-overlay [show]="loading$ | async"></app-spinner-overlay>
@defer (when errorDeleteProduct$ | async) {
<ng-container *ngIf="errorDeleteProduct$ | async as error">
  <app-alert type="error" [message]="error" [dismissible]="false"></app-alert>
</ng-container>
} @defer (when successDeleteProduct$ | async) {
<ng-container *ngIf="successDeleteProduct$ | async as success">
  <app-alert
    type="success"
    [message]="success"
    [dismissible]="true"
  ></app-alert>
</ng-container>
}

<header class="header-product-list">
  <input
    type="text"
    placeholder="Buscar..."
    class="search-input"
    [formControl]="searchControl"
  />

  <app-button
    type="button"
    [btnType]="'primary'"
    (btnClick)="create()"
    label="Agregar"
  ></app-button>
</header>
@if (filteredRows$ | async ; as products) {
<app-data-table
  [headers]="headers"
  [rows]="products"
  [actions]="actions"
  [showPagination]="true"
  (clickAction)="handleAction($event)"
>
</app-data-table>
} -->
<header class="header-product-list">
  <!-- <input
    type="text"
    placeholder="Buscar..."
    class="search-input"
    [formControl]="searchControl"
  /> -->

  <app-button
    type="button"
    [btnType]="'primary'"
    (btnClick)="create()"
    label="Agregar"
  ></app-button>
</header>
<app-data-table
  [headers]="headers"
  [rows]="products()"
  [actions]="actions"
  [showPagination]="true"
  (clickAction)="handleAction($event)"
>
</app-data-table>
