<app-spinner-overlay [show]="loading$ | async"></app-spinner-overlay>

@defer (when error$ | async) {
<ng-container *ngIf="error$ | async as error">
  <app-alert type="error" [message]="error" [dismissible]="true"></app-alert>
</ng-container>
}

<input
  type="text"
  [(ngModel)]="searchTerm"
  (input)="filterRows()"
  placeholder="Buscar..."
  class="search-input"
/>

<app-data-table
  [headers]="headers"
  [rows]="filteredRows"
  [actions]="actions"
  [showPagination]="true"
  (clickAction)="handleAction($event)"
>
</app-data-table>
