<app-spinner-overlay [show]="loading$ | async"></app-spinner-overlay>

@defer (when success$ | async) {
<ng-container *ngIf="success$ | async as success">
  <app-alert
    type="success"
    [message]="success"
    [autoCloseTime]="3000"
  ></app-alert>
</ng-container>
} @defer (when error$ | async) {
<ng-container *ngIf="error$ | async as error">
  <app-alert type="error" [message]="error" [dismissible]="true"></app-alert>
</ng-container>
}

<app-form-product
  [product]="product$ | async"
  (formSubmit)="handleFormSubmit($event)"
></app-form-product>
