// /* You can add global styles to this file, and also import other style files */
// /*==================== GOOGLE FONTS ====================*/
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

// /*==================== VARIABLES CSS ====================*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  color: #2c2c30;
  font-size: 0.875rem;
  font-weight: 500;
}

:root {
  // 🎨 COLORES BASE
  --input-background: #fff; // Celeste agua bajito, fondo suave
  --input-border-color: #94999c; // Azul grisáceo, borde neutro
  --input-select-color: #4a90e2; // Azul vibrante, selección activa
  --input-placeholder-color: #a0aec0; // Gris claro para placeholder
  --text-primary-color: #2d3748; // Azul oscuro, texto principal
  --label-color: #4a5568; // Azul grisáceo, etiquetas
  --disabled-background: #e2e8f0; // Gris más oscuro para fondo deshabilitado
  --disabled-border-color: #a0aec0; // Gris claro para borde deshabilitado
  --disabled-text-color: #718096; // Gris oscuro para texto deshabilitado

  // 🎯 VALIDACIONES
  --danger-color: #d50707; // Rojo intenso, error
  --succes-color: #38a169; // Verde intenso, éxito

  // ⚡ EFECTOS Y TRANSICIONES
  --transition-normal: 0.3s ease-in-out;
  --small-font-size: 12px;
  --normal-font-size: 14px;

  --smaller-font-size: 0.75rem;
  --small-font-size: 0.813rem;

  // 🎨 COLORES BASE PARA BOTONES
  --btn-primary-background: #ffdd00; // 🎨 Amarillo pastel (como en la imagen)
  --btn-primary-text: #0f265c; // 🎨 Texto gris oscuro (para contraste en amarillo)

  --btn-secondary-background: #e9ecf3; // 🎨 Gris azulado suave (como en la imagen)
  --btn-secondary-text: #0f265c; // 🎨 Azul oscuro (para texto en el botón secundario)

  --btn-disabled-opacity: 0.5; // 🎨 Opacidad cuando está deshabilitado

  --modal-background: #ffffff;
  --modal-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  --close-button-color: rgba(0, 0, 0, 0.4);

  --blur: rgba(0, 0, 0, 0.3);

  --scrollbar: rgba(255, 255, 255, 0.1);
  --scrollbar-thumb: rgba(0, 0, 0, 0.4);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.5);
}
